# Kirby .htaccess

# rewrite rules
<IfModule mod_rewrite.c>

# enable awesome urls. i.e.: 
# http://yourdomain.com/about-us/team
RewriteEngine on

# make sure to set the RewriteBase correctly
# if you are running the site in a subfolder.
# Otherwise links or the entire site will break.
# 
# If your homepage is http://yourdomain.com/mysite
# Set the RewriteBase to:
# 
# RewriteBase /mysite
# 
RewriteBase /

#Fallback for the initial site structure
Redirect 301 /adidas-originals.php  /play/css3-logos/adidas-originals.php
Redirect 301 /adobe.php             /play/css3-logos/adobe.php
Redirect 301 /apple.php             /play/css3-logos/apple.php
Redirect 301 /atari.php             /play/css3-logos/atari.php
Redirect 301 /bp.php                /play/css3-logos/bp.php
Redirect 301 /dribbble.php          /play/css3-logos/dribbble.php
Redirect 301 /magento.php           /play/css3-logos/magento.php
Redirect 301 /mcdonalds.php         /play/css3-logos/mcdonalds.php
Redirect 301 /nike.php              /play/css3-logos/nike.php
Redirect 301 /pepsi.php             /play/css3-logos/pepsi.php
Redirect 301 /twitter.php           /play/css3-logos/twitter.php
Redirect 301 /windows.php           /play/css3-logos/windows.php
Redirect 301 /adidas-originals.php/  /play/css3-logos/adidas-originals.php
Redirect 301 /adobe.php/             /play/css3-logos/adobe.php
Redirect 301 /apple.php/             /play/css3-logos/apple.php
Redirect 301 /atari.php/             /play/css3-logos/atari.php
Redirect 301 /bp.php/                /play/css3-logos/bp.php
Redirect 301 /dribbble.php/          /play/css3-logos/dribbble.php
Redirect 301 /magento.php/           /play/css3-logos/magento.php
Redirect 301 /mcdonalds.php/         /play/css3-logos/mcdonalds.php
Redirect 301 /nike.php/              /play/css3-logos/nike.php
Redirect 301 /pepsi.php/             /play/css3-logos/pepsi.php
Redirect 301 /twitter.php/           /play/css3-logos/twitter.php
Redirect 301 /windows.php/           /play/css3-logos/windows.php

# Remove play/ from the path
RewriteRule ^play/(.*)$ /$1 [L,R=301,NC]

# Use versioning to bust the cache
RewriteRule ^(.*)\.[\d]+\.(css|js)$ $1.$2 [L] # Strip out the version number

# block text files in the content folder from being accessed directly
RewriteRule ^content/(.*)\.(txt|md|mdown)$ error [R=301,L]

# block all files in the site folder from being accessed directly
RewriteRule ^site/(.*) error [R=301,L]

# block all files in the kirby folder from being accessed directly
RewriteRule ^kirby/(.*) error [R=301,L]

# make panel links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^panel/(.*) panel/index.php [L]

# make site links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L]
 
</IfModule>


# Additional recommended values
# Remove comments for those you want to use. 
# 
AddDefaultCharset UTF-8
#
# php_flag short_open_tag on 

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

# cache headers
# Turn on Expires and set default to 0
ExpiresActive On
ExpiresDefault A0
 
# Set up caching on media files for 1 year (forever?)
<filesMatch ".(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav|woff|eot|ttf)$">
ExpiresDefault A29030400
Header append Cache-Control "public"
</filesMatch>
 
# Set up caching on media files for 1 year
<filesMatch ".(gif|jpg|jpeg|png|swf|xml|txt|js|css)$">
ExpiresDefault A29030400
Header append Cache-Control "public"
</filesMatch>

# Force no caching for dynamic files
<filesMatch ".(php|cgi|pl|htm|html)$">
ExpiresActive Off
Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
Header set Pragma "no-cache"
</filesMatch>