.hero {
  text-align: center;
}

.showcase {
  grid-gap: var(--unit-xs);
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  margin-top: var(--unit-xxl);
  margin-bottom: var(--unit-xxl);
}

.logo-showcase {
  align-self: baseline;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.logo-showcase--1 {
  grid-area: 2 / 6 / 3 / 10;
  height: 25vw;
}
.logo-showcase--2 {
  grid-area: 2 / 3 / 3 / 6;
  height: 19vw;
}
.logo-showcase--3 {
  grid-area: 2 / 10 / 3 / 13;
  height: 19vw;
}
.logo-showcase--4 {
  grid-area: 2 / 1 / 3 / 3;
  height: 12vw;
}
.logo-showcase--5 {
  grid-area: 2/ 13 / 3 / 15;
  height: 12vw;
}

.logo-showcase .logo-showcase__inner {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.logo-showcase .logo-showcase__inner > * {
  flex: auto 0 0;
}

.logo-showcase #twitter {
  transform: scale(0.9);
  overflow: visible;
}
.logo-showcase #apple {
  transform: scale(0.8);
  overflow: visible;
}
.logo-showcase #mcdonalds {
  transform: scale(0.6);
}

/*
.########....###....########..##.......########.########
....##......##.##...##.....##.##.......##..........##...
....##.....##...##..##.....##.##.......##..........##...
....##....##.....##.########..##.......######......##...
....##....#########.##.....##.##.......##..........##...
....##....##.....##.##.....##.##.......##..........##...
....##....##.....##.########..########.########....##...
*/
@media (max-width: 1400px) {
  .showcase {
    max-width: 100vw;
    width: 100vw;
    box-sizing: border-box;
  }
  .logo-showcase #adidas {
    transform: scale(0.8);
  }
  .logo-showcase #pepsi {
    transform: scale(0.8);
  }
  .logo-showcase #twitter {
    transform: scale(0.65);
  }
  .logo-showcase #apple {
    transform: scale(0.55);
  }
  .logo-showcase #mcdonalds {
    transform: scale(0.45);
  }
}
@media (max-width: 1112px) {
  .logo-showcase #pepsi {
    transform: scale(0.65);
  }
  .logo-showcase #apple {
    transform: scale(0.45);
  }
  .logo-showcase #mcdonalds {
    transform: scale(0.40);
  }
}
@media (max-width: 900px) {
  .logo-showcase #adidas {
    transform: scale(0.6);
  }
  .logo-showcase #pepsi {
    transform: scale(0.55);
  }
  .logo-showcase #twitter {
    transform: scale(0.55);
  }
  .logo-showcase #apple {
    transform: scale(0.45);
  }
  .logo-showcase #mcdonalds {
    transform: scale(0.35);
  }
}

/*
.##.....##..#######..########..####.##.......########
.###...###.##.....##.##.....##..##..##.......##......
.####.####.##.....##.##.....##..##..##.......##......
.##.###.##.##.....##.########...##..##.......######..
.##.....##.##.....##.##.....##..##..##.......##......
.##.....##.##.....##.##.....##..##..##.......##......
.##.....##..#######..########..####.########.########
*/
@media (max-width: 767px) {
  .showcase {
    padding-left: var(--unit-l);
    padding-right: var(--unit-l);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: var(--unit-m);
  }
  .logo-showcase {
    height: 50vw;
  }
  
  .logo-showcase--2 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .logo-showcase--1 {
    grid-area: 1 / 2 / -1 / -1;
    transform: translateY(var(--unit-l));
  }
  .logo-showcase--3 {
    grid-area: 2 / 1 / -1 / 2;
  }
  .logo-showcase--4 {
    grid-area: 2 / 2 / -1 / -1;
    transform: translateY(var(--unit-l));
  }
  .logo-showcase--5 {
    display: none;
  }

  .logo-showcase #adidas,
  .logo-showcase #pepsi,
  .logo-showcase #twitter,
  .logo-showcase #apple,
  .logo-showcase #mcdonalds {
    transform: scale(1);
  }
}
@media (max-width: 700px) {
  .logo-showcase #adidas {
    transform: scale(0.8);
  }
  .logo-showcase #twitter {
    transform: scale(0.8);
  }
}

@media (max-width: 600px) {
  .logo-showcase #adidas {
    transform: scale(0.6);
  }
  .logo-showcase #pepsi {
    transform: scale(0.7);
  }
  .logo-showcase #twitter {
    transform: scale(0.55);
  }
  .logo-showcase #apple {
    transform: scale(0.8);
  }
}

@media (max-width: 500px) {
  .logo-showcase #adidas {
    transform: scale(0.4);
  }
  .logo-showcase #pepsi {
    transform: scale(0.55);
  }
  .logo-showcase #twitter {
    transform: scale(0.45);
  }
  .logo-showcase #apple {
    transform: scale(0.65);
  }
}