body {
  background-color: #222B37;
  color: #fff;
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  margin: 0;
}
.nowrap {
  white-space: nowrap;
}

#nav,
#footer {
  background: #151B26;
  padding: 20px;
}
#nav a {
  color: #fff;
  text-decoration: none;
}
#nav a:not(:last-child) {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #999;
}



#header {
  display: flex;
  margin: 80px auto 40px;
  max-width: 840px;
  text-align: center;
}

#header h1 {
  flex: auto 1 1;
  font-size: 48px;
  margin: 0;
  padding: 0 40px;
}

.header__subtitle {
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin-top: 1.25em;
}

.pagination-item {
  align-items: center;
  background: #222B37;
  border-radius: 50%;
  box-shadow:  1em 1em 2em #1d252f, -1em -1em 2em #27313f;
  display: flex;
  flex: auto 0 0;
  font-size: 8px;
  height: 10em;
  justify-content: center;
  overflow: hidden;
  text-indent: -999px;
  width: 10em;
}
.pagination-item:after {
  border: 1em solid #eee;
  border-right: 0 none;
  border-top: 0 none;
  content: "";
  display: block;
  height: 2em;
  transform-origin: 1em 1em;
  transform: rotate(45deg) translateX(0.5em) translateY(-0.5em);
  width: 2em;
}
.pagination-item:hover:after {
  border-color: #fff;
}
.pagination-item:active {
  box-shadow: 0 0 1px 2px #1d252f;
  transform: scale(0.95);
}

.pagination-item--prev {
  order: -1;
}
.pagination-item--next {
  order: 1;
}
.pagination-item--next:after {
  transform-origin: 50%;
  transform: rotate(225deg) translateX(0.5em) translateY(-0.5em);
}



.showcase {
  align-items: center;
  border-radius: 12px;
  display: flex;
  height: 500px;
  justify-content: center;
  position: relative;
  /* box-shadow: 0px 10px 30px #222, -10px -10px 30px #333; */
}
.showcase > * {
  flex: auto 0 0;
}
.post {
  /* box-shadow: inset 10px 10px 30px #222, inset -10px -10px 30px #444; */
  /* box-shadow: inset 10px 10px 40px #0168a6, inset -10px -10px 40px #018ce0; */
  background: #151B26;
  border-radius: 30px;
  border: 1px solid #0E121A;
  margin: 0 auto;
  padding: 20px;
  width: 800px;
}

.post > * {
  /* box-shadow:  10px 10px 30px #222, -10px -10px 30px #333; */
  background: #222B37;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #0E121A;
}
.post > * + * {
  margin-top: 30px;
}
.code {
  /* background-color: #282A36; */
  background-color: #222B37;
}
.code__title {
  padding: 30px 30px 30px 80px;
  margin: 0;
  border-bottom: 1px solid #0E121A;
  box-shadow: 0 1px 0 #334052;
;
}
.source-code,
.line-numbers {
  font-size: 16px;
  line-height: 25px;
}

.source-code {
  margin: 30px 0;
  overflow: hidden;
  padding-left: 80px;
  position: relative;
}

.source-code .line-numbers {
  color: #8391b4;
  display: block;
  left: 0;
  position: absolute;
  position: absolute;
  text-align: right;
  top: 0;
  width: 55px;
  user-select: none;
}

.source-code .line-numbers > * {
  display: block;
}

.middle-of-the-page {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  width: 100vw;
  box-sizing: border-box;
  flex: 1 0 auto;
}

.homepage {
  max-width: 800px;
}
.homepage h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 48px;
}
.homepage h2 {
  font-size: 20px;
  margin-top: 0;
  font-weight: 500;
}
.homepage ul {
  margin: 20px 0 40px;
}
.homepage li + li {
  margin-top: 10px;
}
.homepage li a {
  color: yellow;
}

.launch-project {
  color: white;
  background-color: blue;
  text-decoration: none;
  padding: 24px 32px;
  display: inline-block;
  border-radius: 40px;
}



.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home p {
  line-height: 1.5em;
}
.home h2 {
  margin-bottom: 40px;
}
.home h3 {
  margin-top: 40px;
}


#footer {
  margin-top: 80px;
}
#footer div + div {
  padding-top: 10px;
}
#footer a {
  color: yellow;
}
.logo #footer {
  text-align: center;
}
.home #footer div {
  margin: 0 auto;
  width: 800px;
}


@media (max-width: 414px) {
  .home #nav #css3-logos {
    display: none;
  }
  .home #nav #ecsspert {
    border-right: 0 none;
  }
  .logo #nav #ecsspert {
    display: none;
  }



  #header {
    margin: 30px 0;
    text-align: left;
  }

  #header h1 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 32px;
  }
  .header__subtitle {
    font-size: 14px;
  }

  .pagination-item {
    background: none;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: transparent;
    font-size: 5px;
    margin-bottom: 20px;
    transform: none;
    height: 8em;
  }



  .middle-of-the-page {
    align-items: flex-start;
    padding-top: 60px;
  }



  .post {
    width: 100vw;
    box-sizing: border-box;
    border-radius: 0;
    padding: 0;
  }
  .post > * {
    border-radius: 0;
  }

  .showcase {
    height: 450px;
  }

  #nike {
    transform: scale(0.9);
  }
  #atari {
    transform: scale(0.7);
  }

  .source-code {
    font-size: 12px;
    line-height: 18px;
  }
  .source-code, .code__title {
    padding-left: 70px;
  }
  .source-code .line-numbers {
    width: 45px;
  }

}

/* For iOS Safari */
@supports (-webkit-touch-callout: none) {
  .pagination-item--prev:after {
    transform: rotate(45deg) translateX(0em) translateY(-0.5em)
  }
  .pagination-item--next:after {
    transform: rotate(225deg) translateX(1.5em) translateY(-1em)
  }
}