body {
  background-color: #222B37;
  color: #fff;
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

#header {
  display: flex;
  margin: 40px auto 60px;
  max-width: 840px;
}

#header h1 {
  flex: auto 1 0;
  font-size: 48px;
  margin: 0;
  padding: 0 40px;
  text-align: center;
}
.header__subtitle {
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
}

.pagination-item {
  align-items: center;
  background: #222B37;
  border-radius: 150px;
  border-radius: 50%;
  box-shadow:  8px 8px 16px #1d252f, -8px -8px 16px #27313f;
  display: flex;
  flex: auto 0 0;
  height: 80px;
  justify-content: center;
  overflow: hidden;
  text-indent: -999px;
  width: 80px;
}
.pagination-item:after {
  border: 10px solid #eee;
  border-right: 0 none;
  border-top: 0 none;
  content: "";
  display: block;
  height: 20px;
  transform: rotate(45deg) translateX(4px) translateY(-4px);
  width: 20px;
}
.pagination-item:hover:after {
  border-color: #fff;
}
.pagination-item:active {
  box-shadow: 0 0 1px 2px #1d252f;
  transform: scale(0.95);
}

.pagination-item--prev {
  order: -1;
}
.pagination-item--next {
  order: 1;
}
.pagination-item--next:after {
  transform: rotate(221deg) translateX(4px) translateY(-4px);
}

.showcase {
  align-items: center;
  border-radius: 12px;
  display: flex;
  height: 500px;
  justify-content: center;
  position: relative;
  /* box-shadow: 0px 10px 30px #222, -10px -10px 30px #333; */
}
.post {
  /* box-shadow: inset 10px 10px 30px #222, inset -10px -10px 30px #444; */
  /* box-shadow: inset 10px 10px 40px #0168a6, inset -10px -10px 40px #018ce0; */
  background: #151B26;
  border-radius: 30px;
  border: 1px solid #0E121A;
  margin: 0 auto;
  padding: 20px;
  width: 800px;
}

.post > * {
  /* box-shadow:  10px 10px 30px #222, -10px -10px 30px #333; */
  background: #222B37;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #0E121A;
}
.post > * + * {
  margin-top: 30px;
}
.code {
  /* background-color: #282A36; */
  background-color: #222B37;
}
.code__title {
  padding: 30px 30px 30px 80px;
  margin: 0;
  border-bottom: 1px solid #0E121A;
  box-shadow: 0 1px 0 #334052;
;
}
.source-code,
.line-numbers {
  font-size: 16px;
  line-height: 25px;
}

.source-code {
  margin: 30px 0;
  overflow: hidden;
  padding-left: 80px;
  position: relative;
}

.source-code .line-numbers {
  color: #5F6FA0;
  display: block;
  left: 0;
  position: absolute;
  position: absolute;
  text-align: right;
  top: 0;
  width: 55px;
  user-select: none;
}

.source-code .line-numbers > * {
  display: block;
}