html {
  font-size: 16px;
  --cta: gold;
  --background: #161616;
  --text: darkgray;
  --white: #fff;
  --black: #000;
  --code-background: #222b37;
  --code-text: #f8f8f2;
  background-color: var(--cta);
  color: var(--text);
}



/* TYPOGRAPHY */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.01em;
  line-height: 1.6em;
  margin: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5 {
  color: var(--white);
  line-height: 1.2;
  margin: 3rem 0 1rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

h1 + h2 {
  margin-bottom: 2rem;
  margin-top: -1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}
h3 {
  font-size: 1em;
  font-weight: 600;
}

p, ul {
  margin: 1em 0;
}

a {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: var(--cta);
}

h1 a, h2 a, h3 a {
  color: var(--cta);
}

.button {
  background-color: var(--cta);
  border-radius: 1.5em;
  color: var(--background);
  display: inline-block;
  font-size: 1rem;
  line-height: 1em;
  padding: 1em 1.5em;
  transition: filter .3s;
}
.button:hover {
  color: var(--background);
  filter: brightness(1.1);
}
.button:active {
  color: var(--background);
  filter: brightness(0.95);
  transform: scale(0.95)
}





.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* GRID */
.content {
  column-gap: 20px;
  display: grid;
  flex: auto 1 0;
  grid-template-columns: repeat(14, 1fr);
  margin: 0 auto 4rem;
  max-width: 1560px;
  width: calc(100vw - 40px);
}

.content--hero {
  grid-area: 1 / 2 / 2 / 14;
  margin-bottom: 5rem;
  text-align: center;
}
.content--showcase {
  grid-area: 2 / 2 / 3 / 13;
}
.content--rest {
  grid-area: 3 / 5 / 4 / 11;
}





/*
.##.....##..#######..########..####.##.......########
.###...###.##.....##.##.....##..##..##.......##......
.####.####.##.....##.##.....##..##..##.......##......
.##.###.##.##.....##.########...##..##.......######..
.##.....##.##.....##.##.....##..##..##.......##......
.##.....##.##.....##.##.....##..##..##.......##......
.##.....##..#######..########..####.########.########
*/
@media (max-width: 414px) {
  html {
    font-size: 14px;
  }
  .button {
    font-size: 1rem;
    font-weight: 600;
  }

  .content {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.2rem;
  }
  .content--hero {
    grid-area: 1 / 1 / 2 / -1;
  }
  .content--rest {
    grid-area: 3 / 1 / 4 / -1;
    text-align: left;
  }

  #nav {
    text-align: center;
  }

  #nav #ecsspert {
    display: none;
  }
  .project #nav #ecsspert {
    display: inline-block;
  }
  .project #nav #ecsspert + * {
    display: none;
  }
}