
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta name="description" content="The {{ title or name }} logo recreated using pure HTML and CSS3. No images. No JS.">
  <title>{{ title or name }} logo in CSS3 | eCSSpert.com</title>
  {% set stylesheets %}
    {% include "../../styles/index.css" %}
    {% include "../../styles/nav-footer.css" %}
    {% include "../../styles/css3-logos.css" %}
    .showcase {
      background-color: {{ background }};
    }
    {{ css | safe }}
    {{ cssForThePage | safe }}
  {% endset %}
  <style>
    {{ stylesheets | cssmin | safe }}
  </style>
  {% include "../components/head.html" %}
</head>
<body class="logo" itemscope itemtype="http://schema.org/WebPage">
  <div role="main">
    {% include "../components/css3-logos/nav.html" %}
    <div id="header">
      {# PAGINATION #}
      <a class="pagination-item pagination-item--prev" rel="prev" draggable="false" href="{{ prevPage }}">← Prev</a>
      <a class="pagination-item pagination-item--next" rel="next" draggable="false" href="{{ nextPage }}">Next →</a>
      <h1>
        {% if (title) %}
          {{ title }}
        {% else %}
          {{ name }}
        {% endif %}
        <span class="header__subtitle">Logo recreated using pure HTML and CSS3. <span class="nowrap">No images. No JS.</span></span>
      </h1>
    </div>

    <div class="post">
      <div class="showcase">
        {{ html | safe }}
      </div>
      {# <div>Social</div> #}
      <div class="code">
        <h2 class="code__title">HTML</h2>
        <pre class="actual-code">{{ html | htmlCode | safe }}</pre>
      </div>
      <div class="code">
        <h2 class="code__title">CSS</h2>
        <pre class="actual-code">{{ css | cssCode | safe }}</pre>
      </div>
    </div>


    {% include "../components/footer.html" %}
    <link rel="preload" href="/styles/prism-dracula-theme.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/styles/prism-dracula-theme.css">
    </noscript>
  </div>
</body>
</html>