
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta name="description" content="The {{ title or name }} logo recreated using pure HTML and CSS3. No images. No JS.">
  <title>{{ title or name }} logo in CSS3 | eCSSpert.com</title>
  {% set stylesheets %}
    {# {% include "../../styles/index.css" %} #}
    {% include "../../styles/variables.css" %}
    {% include "../../styles/x.css" %}
    {% include "../../styles/nav-footer.css" %}
    {% include "../../styles/css3-logos/index.css" %}
    {% include "../../styles/css3-logos/logo.css" %}
    html, .logo-wrapper {
      background-color: {{ background }};
    }
    {{ css | safe }}
    {{ cssForThePage | safe }}
  {% endset %}
  <style>
    {{ stylesheets | cssmin | safe }}
  </style>
  {% include "../components/head.html" %}
</head>
<body class="logo" itemscope itemtype="http://schema.org/WebPage">
  <div role="main">
    <div id="nav">
      <a href="/" id="ecsspert">eCSSpert.com</a>
      <a href="/css3-logos/" id="css3-logos">CSS3 Logos</a>
    </div>
    <div class="post">
      <div class="hero bleed">
        <h1>
          {% if (title) %}
            {{ title }}
          {% else %}
            {{ name }}
          {% endif %}
        </h1>
        <h3 class="header__subtitle">Logo recreated using pure HTML and CSS3. <span class="nowrap">No images. No JS.</span></h3>
      </div>
      <div class="logo-gallery">
        <div class="logo-wrapper">
          {{ html | safe }}
        </div>
        <a class="pagination-item pagination-item--prev" rel="prev" draggable="false" href="{{ prevPage }}">← Prev</a>
        <a class="pagination-item pagination-item--next" rel="next" draggable="false" href="{{ nextPage }}">Next →</a>
      </div>
      {# <div>Social</div> #}
      <div class="editor">
        <h2 class="editor__title">HTML</h2>
        <pre class="editor__code">{{ html | htmlCode | safe }}</pre>
      </div>
      <div class="editor">
        <h2 class="editor__title">CSS</h2>
        <pre class="editor__code">{{ css | cssCode | safe }}</pre>
      </div>
    </div>


    {% include "../components/footer.html" %}
    <link rel="preload" href="/styles/prism-dracula-theme.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/styles/prism-dracula-theme.css">
    </noscript>
  </div>
</body>
</html>