<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The {{ logo.title or logo.name }} logo recreated using pure HTML and CSS3. No images. No JS.">
  <title>{{ logo.title or logo.name }} logo in CSS3 | eCSSpert.com</title>
  <link rel="stylesheet" href="/styles/css3-logos.css">
  <link rel="stylesheet" href="/styles/prism-dracula-theme.css">
  <style>
    .showcase {
      background-color: {{ logo.background }};
    }
    {{ logo.cssForThePage | safe }}
    {{ logo.css | safe }}
  </style>
</head>
<body itemscope itemtype="http://schema.org/WebPage">
  <div id="nav">
    <a href="/">eCSSpert.com</a>
    <a href="/css3-logos/">CSS3 Logos</a>
  </div>
  <div id="header">
      <h1>
        {% if (logo.title) %}
          {{ logo.title }}
        {% else %}
          {{ logo.name }}
        {% endif %}
        <span class="header__subtitle">Logo recreated using pure HTML and CSS3. No images. No JS</span>
      </h1>

    {# PAGINATION #}
    {% if pagination.previousPageHref %}
    <a class="pagination-item pagination-item--prev" rel="prev" draggable="false" href="{{ pagination.previousPageHref }}">← Prev</a>
    {% elseif pagination.lastPageHref %}
    <a class="pagination-item pagination-item--prev" rel="prev" draggable="false" href="{{ pagination.lastPageHref }}">← Prev</a>
    {% endif %}

      {% if pagination.nextPageHref %}
      <a class="pagination-item pagination-item--next" rel="next" draggable="false" href="{{ pagination.nextPageHref }}">Next →</a>
      {% elseif pagination.firstPageHref %}
      <a class="pagination-item pagination-item--next" rel="next" draggable="false" href="{{ pagination.firstPageHref }}">Next →</a>
      {% endif %}
    </div>
  </div>

  <div class="post">
    <div class="showcase">
      {{ logo.html | safe }}
    </div>
    {# <div>Social</div> #}
    <div class="code">
      <h2 class="code__title">HTML</h2>
      <pre class="source-code">{{ logo.html | htmlCode | safe }}</pre>
    </div>
    <div class="code">
      <h2 class="code__title">CSS</h2>
      <pre class="source-code">{{ logo.css | cssCode | safe }}</pre>
    </div>
  </div>
</body>
</html>