<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta name="description" content="The World Famous CSS3 Logos project">
  <title>The World Famous CSS3 Logos project | eCSSpert.com</title>
  <link rel="stylesheet" href="/styles/css3-logos.css">

</head>
<body class="home" itemscope itemtype="http://schema.org/WebPage">
  {% include "../components/css3-logos/nav.html" %}
  <div class="middle-of-the-page">
    <div class="homepage">
      {{ content | safe }}
    </div>
  </div>
  {% include "../components/ga.html" %}
</body>
</html>