<!doctype html>
<html lang="en">
<head>
  {% set css %}
    {% include "../../styles/variables.css" %}
    {% include "../../styles/x.css" %}
    {% include "../../styles/nav-footer.css" %}
  {% endset %}
  <style>
    {{ css | safe }}
  </style>
  {% include "../components/head.html" %}
  <meta name="description" content="{{ description or tagline }}">

  {% if (page.url === '/') %}
    <title>{{ title }} | eCSSpert.com</title>
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:image" content="/images/css-logos.png" />
  {% else %}
    <title>{{ title }} - {{ tagline }} | eCSSpert.com</title>
    <meta property="og:title" content="{{ title }} - {{ tagline }}" />
    <meta property="og:image" content="{{ preview }}" />
  {% endif %}
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
</head>
<body id="{{ page.fileSlug }}" class="project" itemscope itemtype="http://schema.org/WebPage">
  <div id="main" role="main">
    <div id="nav">
      <a href="/" id="ecsspert">eCSSpert.com</a>
    </div>
    <div class="post">
      {{ content | safe }}
    </div>

    {% include "../components/footer.html" %}
  </div>
  {% include "../components/nosleep.html" %}
</body>
</html>