---
layout: layouts/css3-patterns.njk
title: 'Alegria'
pattern: |
  background: 
    radial-gradient(circle at 99em 1em, #ff0053 17%, transparent 1%) -75em 0em,
    radial-gradient(circle at 1em 99em, #ffc000 17%, transparent 1%) -75em 25em,
    radial-gradient(circle at 1em 1em, #ff0053 17%, transparent 1%) -75em 25em,
    radial-gradient(circle at 99em 99em, #ffc000 17%, transparent 2%) -75em 50em,

    radial-gradient(circle at 99em 1em, #ff0053 17%, transparent 1%) -75em 50em,
    radial-gradient(circle at 1em 99em, #ffc000 17%, transparent 1%) -75em 75em,
    radial-gradient(circle at 1em 1em, #ff0053 17%, transparent 1%) -75em 75em,
    radial-gradient(circle at 99em 99em, #ffc000 17%, transparent 2%) -75em 0em,

    radial-gradient(circle at 99em 1em, #ffc000 17%, transparent 1%) -25em 25em,
    radial-gradient(circle at 1em 99em, #ff0053 17%, transparent 1%) -25em 50em,
    radial-gradient(circle at 1em 1em, #ffc000 17%, transparent 1%) 74em 0em,
    radial-gradient(circle at 99em 99em, #ff0053 17%, transparent 2%) -25em 25em,

    radial-gradient(circle at 99em 1em, #ffc000 17%, transparent 1%) -25em 75em,
    radial-gradient(circle at 1em 99em, #ff0053 17%, transparent 1%) -25em 0em,
    radial-gradient(circle at 1em 1em, #ffc000 17%, transparent 1%) 74em 50em,
    radial-gradient(circle at 99em 99em, #ff0053 17%, transparent 2%) -25em 75em,

    linear-gradient(45deg, #ff8f00 25%, transparent 25%, transparent 75%, #ff8f00 75%, #ff8f00) 0em 0em, linear-gradient(45deg, #ff8f00 25%, transparent 25%, transparent 75%, #ff8f00 75%, #ff8f00) 25em 25em;
  background-color: #792870;
  background-size: 100em 100em, 100em 100em, 100em 100em, 100em 100em, 100em 100em, 100em 100em, 100em 100em, 100em 100em, 100em 100em, 100em 100em, 100em 100em, 100em 100em, 100em 100em, 100em 100em, 100em 100em, 100em 100em, 50em 50em, 50em 50em;
  font-size: 1.5px;
---