---
layout: layouts/css3-patterns.njk
title: 'Forest'
pattern: |
  background: 
    linear-gradient(60deg, #48987f 22%, transparent 22%) 0em -40em, 
    linear-gradient(-60deg, #48987f 22%, transparent 22%) 0em -40em, 
    linear-gradient(60deg, #48987f 32%, transparent 30%), 
    linear-gradient(-60deg, #48987f 32%, transparent 30%);
  background-color: #02e3a9;
  background-size: 100em 100em;
  font-size: 1px;
---