---
layout: layouts/css3-patterns.njk
title: 'Frozen'
pattern: |
  background: 
    linear-gradient(0deg, transparent 43%, rgba(255,255,255,.3) 43%, rgba(255,255,255,.3) 57%, transparent 57%) 0 5em, 
    radial-gradient(circle, transparent 40%, #8BD2FC 40%, #8BD2FC 96%, transparent 96%) -50em -45em, 
    linear-gradient(90deg, transparent 40%, #fff 40%, #fff 60%, transparent 60%) 25em 25em, 
    linear-gradient(0deg, transparent 40%, #fff 40%, #fff 60%, transparent 60%) 25em 30em, 
    linear-gradient(45deg, transparent 42%, #fff 42%, #fff 58%, transparent 58%) 26em 30em, 
    linear-gradient(135deg, transparent 42%, #fff 42%, #fff 58%, transparent 58%)  25em 30em;
  background-size: 100em 100em,100em 100em, 50em 50em, 50em 50em, 50em 50em, 50em 50em;
  background-color: #8BD2FC;
  font-size: 1px;
---