---
layout: layouts/css3-patterns.njk
title: 'Love'
pattern: |
  background: 
    radial-gradient(circle, #fa3c5a 0%, #fa3c5a 19%, #fa3c5a 33%, transparent 33%) 167em 48em, 
    radial-gradient(circle, #fa3c5a 0%, #fa3c5a 19%, #fa3c5a 33%, transparent 33%) 33em 48em, 
    radial-gradient(circle, #fa3c5a 10%, transparent 10%) 0em 80em, 
    linear-gradient(225deg, #fa3c5a 18%, transparent 18%) 100em 151em, 
    linear-gradient(135deg, #fa3c5a 18%, transparent 18%) 100em 151em;
  background-size: 200em 150em;
  background-color: #baf1e4;
  font-size: 1px;
---