---
layout: layouts/css3-patterns.njk
title: 'Moskow'
pattern: |
  background: 
    linear-gradient(-45deg, transparent 50%, rgba(0,0,0,0.05) 50%), 
    linear-gradient(45deg, transparent 50%, rgba(255,255,255,0.2) 50%), 
    linear-gradient(225deg, red 0%, red 25%, transparent 25%) -50em 0, 
    linear-gradient(135deg, red 0%, red 25%, transparent 25%) -50em 0, 
    linear-gradient(45deg, red 0%, red 25%, transparent 25%), 
    linear-gradient(-45deg, red 0%, red 25%, transparent 25%);	
  background-size: 50em 50em, 50em 50em, 100em 100em, 100em 100em, 100em 100em, 100em 100em;
  background-color: white;
  font-size: 1px;
---