---
layout: layouts/css3-patterns.njk
title: 'Moskow'
pattern: |
  background: 
    linear-gradient(135deg, transparent 50%, rgba(0,0,0,0.1) 50%) 20em 0em, 
    linear-gradient(45deg, transparent 50%, rgba(255,255,255,0.2) 50%) 20em 0em, 
    linear-gradient(45deg, transparent 10%, green 10%, green 35%, transparent 35%, transparent 60%, green 60%, green 85%, transparent 85%) 0 0;
  background-size: 50em 50em, 50em 50em, 100em 100em;
  background-color: yellow;
  font-size: 1px;
---