---
layout: layouts/css3-patterns.njk
title: 'Paranoia'
pattern: |
  background: 
    radial-gradient(circle, rgba(255,255,255,.8) 4%, transparent 4%) -116em -41em, 
    radial-gradient(circle, black 8%, transparent 8%) -105em -30em, 
    radial-gradient(circle, rgba(255,255,255,.4) 16%, transparent 10%) -125em -50em, 
    radial-gradient(circle, #94caf0 16%, transparent 10%) -105em -30em, 
    radial-gradient(circle, white 24%, #dedede 31%, transparent 26%) -105em -30em,
    
    radial-gradient(circle, rgba(255,255,255,.8) 4%, transparent 4%) 84em -41em, 
    radial-gradient(circle, black 8%, transparent 8%) 95em -30em, 
    radial-gradient(circle, rgba(255,255,255,.4) 16%, transparent 10%) 75em -50em,
    radial-gradient(circle, #94caf0 16%, transparent 10%) 95em -30em,
    radial-gradient(circle, white 24%, #dedede 31%, transparent 26%) 95em -30em;
  background-color: #fc0;
  background-size: 450em 260em;
  font-size: 0.5px;
---