---
layout: layouts/css3-patterns.njk
title: 'Picnic'
pattern: |
  background: 
    linear-gradient(-45deg, transparent 25%, rgba(255,0,0,.45) 25%, rgba(255,0,0,.45) 50%, transparent 50%, transparent 75%, rgba(255,0,0,.45) 75%), 
    linear-gradient(45deg, transparent 25%, rgba(255,0,0,.45) 25%, rgba(255,0,0,.45) 50%, transparent 50%, transparent 75%, rgba(255,0,0,.45) 75%);
  background-color: #fff;
  background-size: 200em 200em;
  font-size: .5px;
---