---
layout: layouts/css3-patterns.njk
title: 'Skulls'
pattern: |
  background:
    radial-gradient(circle, #210a70 2%, transparent 2%) 95em 65em,
    radial-gradient(circle, #210a70 2%, transparent 2%) 105em 65em,
    radial-gradient(circle, #210a70 10%, transparent 10%) 80em 45em,
    radial-gradient(circle, #210a70 8%, transparent 8%) 120em 45em,
    radial-gradient(circle, #ff3a57 40%, transparent 40%) 100em 20em,
    radial-gradient(circle, #ff3a57 20%, transparent 20%) 100em 60em,
    radial-gradient(circle, #ff3a57 8%, transparent 8%) 150em 89em,
    radial-gradient(circle, #ff3a57 8%, transparent 8%) 144em 78em,
    radial-gradient(circle, #ff3a57 8%, transparent 8%) 50em 89em,
    radial-gradient(circle, #ff3a57 8%, transparent 8%) 56em 78em,
    radial-gradient(circle, #ff3a57 8%, transparent 8%) 150em 132em,
    radial-gradient(circle, #ff3a57 8%, transparent 8%) 144em 140em,
    radial-gradient(circle, #ff3a57 8%, transparent 8%) 50em 132em,
    radial-gradient(circle, #ff3a57 8%, transparent 8%) 56em 140em,
    linear-gradient(90deg, transparent 50%, #210a70 50%) 150em 50em,
    linear-gradient(29deg, transparent 41%, #ff3a57 41%, #ff3a57 46%, transparent 46%) 50em 60em,
    linear-gradient(-29deg, transparent 41%, #ff3a57 41%, #ff3a57 46%, transparent 46% ) 150em 60em;
  background-size: 200em 200em;
  background-color: #210A70;
  font-size: 1px;
---