---
layout: layouts/css3-patterns.njk
title: 'Skulls'
pattern: |
  background:
    radial-gradient(circle, #210A70 2%, transparent 2%) 45em 65em,
    radial-gradient(circle, #210A70 2%,  transparent 2%) 55em 65em,
    radial-gradient(circle, #210A70 10%, transparent 10%) 30em 45em,
    radial-gradient(circle, #210A70 8%,  transparent 8%) 70em 45em,
    radial-gradient(circle, #FF3A57 40%, transparent 40%) 50em 20em,
    radial-gradient(circle, #FF3A57 20%, transparent 20%) 50em 60em,
    radial-gradient(circle, #FF3A57 8%,  transparent 8%) 100em 89em,
    radial-gradient(circle, #FF3A57 8%,  transparent 8%) 90em 80em,
    radial-gradient(circle, #FF3A57 8%,  transparent 8%) 0em 89em,
    radial-gradient(circle, #FF3A57 8%,  transparent 8%) 6em 80em,
    radial-gradient(circle, #FF3A57 8%,  transparent 8%) 100em 129em,
    radial-gradient(circle, #FF3A57 8%,  transparent 8%) 94em 140em,
    radial-gradient(circle, #FF3A57 8%,  transparent 8%) 0em 129em,
    radial-gradient(circle, #FF3A57 8%,  transparent 8%) 6em 140em,
    linear-gradient(0, transparent 50%,  #210A70 50%) 100em 50em,
    linear-gradient(90deg, transparent 50%, #210A70 50%) 95em 50em,
    linear-gradient(30deg, transparent 46%, #FF3A57 46%, #FF3A57 54%, transparent 54%) 100em 60em,
    linear-gradient(-30deg, transparent 46%, #FF3A57 46%, #FF3A57 54%, transparent 54%) 100em 60em;
  background-size: 200em 200em, 200em 200em, 200em 200em, 200em 200em, 200em 200em, 200em 200em, 200em 200em, 200em 200em, 200em 200em, 200em 200em, 200em 200em, 200em 200em, 200em 200em, 200em 200em, 200em 200em, 200em 200em, 100em 100em, 100em 100em;
  background-color: #210A70;
  font-size: 0.6px;
---