---
layout: layouts/css3-logos.njk
title: 'Adobe'
html: |
  <div id="adobe">
    <div class="adobe1"></div>
    <div class="adobe2"></div>
    <div class="adobe3"></div>
  </div>
css: |
  #adobe {
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 292px;
  }
  #adobe * {
    position: absolute;
  }
  .adobe1,
  .adobe2,
  .adobe3 {
    background: #fff;
  }
  .adobe1 {
    height: 305px;
    left: 55px;
    top: -26px;
    transform: rotate(23deg);
    width: 70px;
  }
  .adobe2 {
    height: 305px;
    left: 162px;
    top: -26px;
    transform: rotate(-23deg);
    width: 70px;
  }
  .adobe3 {
    height: 50px;
    left: 62px;
    top: 200px;
    transform: skewx(22deg);
    width: 93px;
  }
background: '#df2624'
---