---
layout: layouts/css3-logos.njk
title: 'Dribbble'
html: |
  <div id="dribbble">
    <div class="dribbble1"></div>
    <div class="dribbble2"></div>
    <div class="dribbble3"></div>
    <div class="dribbble4"></div>
  </div>
css: |
  #dribbble {
    background: #f05e95;
    border-radius: 50%;
    height: 250px;
    position: relative;
    transform: scale(0.7);
    width: 250px;
  }

  #dribbble * {
    position: absolute;
  }

  .dribbble1 {
    background: #F58FB5;
    border-radius: 50%;
    height: 132px;
    left: 37px;
    top: 8px;
    transform: rotate(12deg);
    width: 200px;
  }

  #dribbble,
  .dribbble2,
  .dribbble3,
  .dribbble4 {
    border: 25px solid #cb386f;
  }

  .dribbble2 {
    border-radius: 50%;
    clip: rect(0px, 200px, 140px, 0);
    height: 309px;
    left: 53px;
    top: 108px;
    width: 356px;
  }

  .dribbble3 {
    border-radius: 50%;
    clip: rect(230px, 390px, 360px, 180px);
    height: 309px;
    left: -192px;
    top: -234px;
    width: 353px;
  }

  .dribbble4 {
    border-radius: 50%;
    clip: rect(0, 1088px, 184px, 850px);
    height: 1164px;
    left: -1054px;
    top: -207px;
    transform: rotate(30deg);
    width: 1248px;
  }
background: '#434950'
--- 