---
layout: layouts/css3-logos-homepage.njk
title: CSS3 Logos
---
<div>
  <h1>CSS3 Logos</h1>
  <h2>Famous Logos Designed Entirely in CSS3</h2>

<ul>
  <li><a href="https://news.ycombinator.com/item?id=3159660" target="_blank" rel="noopener">#1 on Hacker News</a> for 2 days;</li>
  <li>Mentioned in <a href="https://www.theguardian.com/technology/2011/nov/14/flash-death-bad-windows-phone" target="_blank" rel="noopener">The Guardian</a> as the example that Flash is dead;</li>
  <li>Part of <a href="https://css-tricks.com/examples/ShapesOfCSS/" target="_blank" rel="noopener">The Shapes of CSS</a> on CSS-Tricks;</li>
  <li>Featured on <a href="https://thenextweb.com/dd/2011/10/26/famous-logos-designed-entirely-in-css/" target="_blank" rel="noopener">The Next Web</a>.</li>
</ul>
<a href="/css3-logos/adidas-originals/" class="launch-project">Launch project</a>
</div>