---
layout: layouts/css3-logos.njk
title: 'Magento'
html: |
  <div id="magento">
    <div class="magento1"></div>
    <div class="magento2"></div>
    <div class="magento3"></div>
    <div class="magento4"></div>
    <div class="magento5"></div>
    <div class="magento6"></div>
    <div class="magento7"></div>
    <div class="magento8"></div>
    <div class="magento9"></div>
    <div class="magento10"></div>
  </div>
css: |
  #magento {
    height: 210px;
    position: relative;
    width: 178px;
  }
  #magento * {
    position: absolute;
  }
  .magento1 {
    background: #f6844e;
    height: 104px;
    position: absolute;
    top: 26px;
    transform: skewy(-30deg);
    width: 89px;
  }
  .magento2 {
    background: #f6844e;
    height: 104px;
    left: 89px;
    position: absolute;
    top: 26px;
    transform: skewy(30deg);
    width: 89px;
  }
  .magento3 {
    background: #f15c22;
    height: 104px;
    position: absolute;
    top: 78px;
    transform: skewy(30deg);
    width: 89px;
  }
  .magento4 {
    background: #f15c22;
    height: 104px;
    left: 89px;
    position: absolute;
    top: 78px;
    transform: skewy(-30deg);
    width: 89px;
  }
  .magento5,.magento6,.magento7,.magento8,.magento9,.magento10 {
    background: #fff;
  }
  .magento5 {
    height: 105px;
    left: 22px;
    position: absolute;
    top: 72px;
    transform: skewy(30deg);
    width: 24px;
  }
  .magento6 {
    height: 105px;
    left: 133px;
    position: absolute;
    top: 72px;
    transform: skewy(-30deg);
    width: 24px;
  }
  .magento7 {
    height: 144px;
    left: 77px;
    position: absolute;
    top: 41px;
    transform: skewy(30deg);
    width: 12px;
  }
  .magento8 {
    height: 144px;
    left: 89px;
    position: absolute;
    top: 41px;
    transform: skewy(-30deg);
    width: 12px;
  }
  .magento9 {
    height: 78px;
    left: 44px;
    position: absolute;
    top: 20px;
    transform: rotate(60deg) skewy(30deg);
    width: 24px;
  }
  .magento10 {
    height: 78px;
    left: 111px;
    position: absolute;
    top: 20px;
    transform: rotate(-60deg) skewy(-30deg);
    width: 24px;
  }
background: '#f2f2f2'
cssForThePage: |
---