---
layout: layouts/css3-logos.njk
title: 'Nike'
html: |
  <div id="nike">
    <div class="icon">
      <div class="nike1"></div>
      <div class="nike2"></div>
      <div class="nike3"></div>
      <div class="nike4"></div>
      <div class="nike5"></div>
    </div>
  </div>
css: |
  #nike {
    background-color: #ef3e1d;
    height: 132px;
    overflow: hidden;
    position: relative;
    width: 360px;
  }
  #nike * {
    position: absolute;
  }
  #nike .icon {
    left: -40px;
    top: 8px;
    transform: rotate(-23deg);
  }
  .nike1,.nike2,.nike3,.nike4,.nike5 {
  }
  .nike3,.nike5 {
    background: #ef3e1d;
  }
  .nike1,.nike2 {
    background: #fff;
  }
  .nike1 {
    border-radius: 101px/230px;
    height: 230px;
    left: 57px;
    top: -40px;
    transform: rotate(67deg);
    width: 101px;
    z-index: 11;
  }
  .nike2 {
    border-radius: 101px/207px;
    height: 207px;
    left: 53px;
    top: 1px;
    transform: rotate(84deg);
    width: 101px;
    z-index: 12;
  }
  .nike3 {
    height: 80px;
    left: 91px;
    top: 65px;
    width: 124px;
    z-index: 13;
  }
  .nike4 {
    border-top: 39px solid transparent;
    border-right: 0 none;
    border-bottom: 5px solid transparent;
    border-left: 276px solid #fff;
    left: 90px;
    top: 112px;
    z-index: 14;
  }
  .nike5 {
    border-radius: 97px/175px;
    height: 175px;
    left: 88px;
    top: -31px;
    transform: rotate(67deg);
    width: 97px;
    z-index: 15;
  }
background: '#ef3e1d'
---