---
layout: layouts/project.njk
title: eCSSpert.com
description: We believe learning should be fun, creative and engaging. That’s why we’ve let our passion free to explore the power of CSS in unconventional and fun challenges. We call them eCSSperiments and we invite you to learn and have fun while playing with them.
---
<style>
  .content--rest {
    grid-area: 3/4/4/12;
    text-align: center;
  }
  @media (max-width: 414px) {
    .content--rest {
      grid-area: 3/1/4/-1;
      text-align: left;
    }
  }
</style>
<div class="content--hero">
  <h1>Having fun with CSS</h1>
  <h2>A website made by <a href="http://zinc.world" target="_blank" rel="noopener">Vlad</a> and <a href="http://anca.zinculescu.com" target="_blank" rel="noopener">Anca</a></h2>
  <a class="button" href="/css3-logos/" style="margin-right: 10px">CSS3 Logos</a>
  <a class="button" href="/css3-patterns/">CSS3 Patterns</a>
</div>
<div class="content--rest">
  <p>
    {{description}}
  </p>
</div>