---
layout: layouts/project.njk
title: eCSSpert.com
description: We believe learning should be fun, creative and engaging. That’s why we’ve let our passion free to explore the power of CSS in unconventional and fun challenges. We call them eCSSperiments and we invite you to learn and have fun while playing with them.
---
<h1>Having fun with CSS</h1>
<h3>A website by <a href="http://zinc.world" target="_blank" rel="noopener">Vlad</a> and <a href="http://anca.zinculescu.com" target="_blank" rel="noopener">Anca</a></h3>
<p>{{description}}</p>
<p>
  <a class="button" href="/css3-logos/" style="margin-right: 10px">CSS3 Logos</a>
  <a class="button" href="/css3-patterns/">CSS3 Patterns</a>
</p>